.users{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.users .user{
    width: 20%;
    border: 1px solid lightgrey;
    margin: 10px;
    border-radius: 5px;
}

.userPhoto {
    width: 100px;
    height: 100px;
}
