.app-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.app-wrapper-body{
    display: flex;
    width: 100%;
}

.app-wrapper-content {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}










/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
